{% extends 'base.html' %}
{% block content %}

<form style="height: 750px; background-image: url({{ url_for('static', filename='img/bw-1.jpg') }});
background-position: center;background-repeat: no-repeat;
background-size: cover;" class="gr8-center gr8win2 lato" name="Input" method="POST" action="/movies">
		<br/>
		<table align="center" class="gr8-center gr8-table" cellpadding="5" class="lato">
			<tr>
				<th>title</th>
				<th>genres</th>
				<th>link</th>
			</tr>
			{%for i in range(0,movies_table.shape[0])%}
			<tr align="left">
					{%for r in range(2)%}
					<td>{{ movies_table.iloc[i,r] }}</td>
					{%endfor%}
					<td><a href="{{ movies_table.iloc[i,5] }}" target="_blank">movie link</td></tr>
			{%endfor%}
		</table>
</form>
{% endblock %}
