{% extends 'base.html' %}
{% block content %}

<!-- Page content -->
<div class="container {{ theme }}">
  <div class="page80">

    <!-- Project Section -->
    <div>
      <h1>{{ genres }}</h1>
    </div>
    <h2>Top Recommendations</h2>
    <!-- best recommendations -->
    <div class="parent">
      {%for i in range(0,2)%}
      <div class="box">
        <span>{{ movies_table.iloc[i,0] }}</span>
        <a href="{{ movies_table.iloc[i,2] }}" target="_blank">
          <img src="static/images/{{ movies_table.iloc[i,3] }}" alt="House" style="width:100%">
        </a>
      </div>
    {%endfor%}
    </div>
    <!-- the rest-->
      <div class="parent">
        {%for i in range(2,movies_table.shape[0])%}
        <div class="box">
          <span>{{ movies_table.iloc[i,0] }}</span>
          <a href="{{ movies_table.iloc[i,2] }}" target="_blank">
            <img src="static/images/{{ movies_table.iloc[i,3] }}" alt="House" style="width:100%">
          </a>
        </div>
      {%endfor%}
      </div>

  </div>
  {% endblock %}
  <!-- {{ url_for('static', filename='img/bw-1.jpg') }} -->
